@{
    Layout = "GoldFlowLayout";
}
<title>付款失敗</title>
<img src="http://5b0988e595225.cdn.sohucs.com/images/20171101/0baf51fc9bbb4254b44a87d32cbab39f.gif">
<h1>付款失敗</h1>
<p>付款失敗，請重新確認</p>
<div class="order-details">
	<p>訂單編號：123456789</p>
	<p>付款金額：$99.99</p>
</div>