@section Styles
    {
    <link href="~/lib/element-ui/theme-chalk/index.min.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
}
<div id="roomDetailApp" style="margin-top: 150px;margin-bottom: 50px ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div id="carouselCaptions" class="carousel slide  h-100">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner  h-100">
                        <div v-for="(image,index) in RoomDetail.roomImages" :class="{'carousel-item' :'ture','active' : index === 0,' h-100' : 'true'}">
                            <img :src="image.image" class="d-block w-100 h-100" alt="image.image" style="object-fit: cover">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>圖片主題</h5>
                                <p>圖片簡述</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="p-5 col-7">
                <div class="d-flex justify-content-between align-items-end mb-5">
                    <h2>{{RoomDetail.roomType}}</h2>
                    <p><span>最大人數{{RoomDetail.maxGuests}}</span>人</p>
                </div>
                <div class="row mb-2 text-center"><h4>房型特徵</h4></div>
                <div class="row mb-5">
                    <div class="col-2 p-1 m-1 text-center" v-for="feature in RoomDetail.roomFeatures">
                        <div class="mb-2 d-flex justify-content-center align-content-center flex-wrap" style="height: 50px">
                            <i :class="feature.image + ' fa-2xl'"></i>
                        </div>
                        <div class="overflow-wrap word-wrap-break-word">{{feature.name}}</div>
                    </div>
                </div>
                <div class="row mb-2 text-center"><h4>加購項目</h4></div>
                <div class="row mb-5">
                    <div v-for="Service in RoomDetail.selectedExtraServices" class="col-2 text-center">
                        <div class="mb-2 d-flex justify-content-center align-content-center flex-wrap" style="height: 50px">
                            <i :class="Service.serviceImage + ' fa-2xl'"></i>
                        </div>
                        <div class="overflow-wrap word-wrap-break-word">
                            {{Service.name}}<i class="fa-solid fa-dollar-sign fa-fade"></i>{{Service.servicePrice}}
                        </div>
                        <div>
                            <input type="number" class="form-control" v-model="Service.serviceQuantity" />
                        </div>
                    </div>
                </div>
                <div class="row mb-2 text-center"><h4>住宿日期</h4></div>
                <div class="row mb-5">
                    <template>
                        <div class="row align-items-center">
                            <div class="col-4">
                                <span class="demonstration">入住日期</span>
                                <el-date-picker v-model="RoomDetail.checkIn"
                                                type="date"
                                                placeholder="Pick a day"
                                                :size="size"
                                                :picker-options="startOption"
                                                @@change="() => {roomDetailVue.RoomDetail.checkOut = null}" />

                            </div>
                            <div class="col-4">
                                <span class="demonstration">退房日期</span>
                                <el-date-picker v-model="RoomDetail.checkOut"
                                                type="date"
                                                placeholder="Pick a day"
                                                :size="size"
                                                :picker-options="endOption" />
                            </div>
                        </div>
                    </template>

                </div>
                <template v-if="levealId >= 0 && Promotions.length > 0">
                    <div class="row mb-2 text-center"><h4>促銷優惠</h4></div>
                    <div class="row mb-5" v-for="p in Promotions">
                        {{p.name}}: {{p.startDate.substring(0, 10)}}~{{p.endDate.substring(0, 10)}}  折扣{{p.discount}}/日
                    </div>
                </template>
                <div class="row mb-2 text-center"><h4>預估價格</h4></div>
                <div class="row mb-5">
                    <div class="col-6 mb-5">
                        <div class="card">
                            <div class="card-body mx-4">
                                <div class="container">
                                    <div class="row">
                                        <ul class="list-unstyled">
                                            <li class="text-black mt-1">住宿 <span class="fs-4">{{roomDays}}</span> 日</li>
                                        </ul>
                                        <hr>
                                        <div class="col-xl-10">
                                            <p>房價</p>
                                        </div>
                                        <div class="col-xl-2">
                                            <p class="float-end">
                                                <i class="fa-solid fa-dollar-sign fa-fade"></i>{{RoomDetail.tRoomPrice}}
                                            </p>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-10">
                                            <p>加購</p>
                                        </div>
                                        <div class="col-xl-2">
                                            <p class="float-end">
                                                <i class="fa-solid fa-dollar-sign fa-fade"></i>{{RoomDetail.tServicePrice}}
                                            </p>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-10">
                                            <p>折扣</p>
                                        </div>
                                        <div class="col-xl-2">
                                            <p class="float-end">
                                                <i class="fa-solid fa-dollar-sign fa-fade"></i>{{RoomDetail.tPromotionPrice}}
                                            </p>
                                        </div>
                                        <hr style="border: 2px solid black;">
                                    </div>
                                    <div class="row text-black">

                                        <div class="col-xl-12">
                                            <p class="float-end fw-bold">
                                                共: <i class="fa-solid fa-dollar-sign fa-fade"></i>{{totalPrice}}
                                            </p>
                                        </div>
                                        <hr style="border: 2px solid black;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-5 d-flex flex-column justify-content-between">
                        <div class="input-group h-75">
                            <span class="input-group-text bg-light">備註</span>
                            <textarea class="form-control" v-model="RoomDetail.note" aria-label="With textarea"></textarea>
                        </div>
                        <button class="btn btn-info w-100" @@click="addToCart">加入購物車</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts
    {
    <script src="~/lib/element-ui/index.min.js"></script>
    <script>
        var roomDetailVue = new Vue({
            el: '#roomDetailApp',
            data: {
                size: 'default',
                startOption: {
                    disabledDate: null,
                },
                endOption: {
                    disabledDate: null,
                },
                RoomDetail: { roomImages: [], selectedExtraServices: [] },
                RoomBookingState: [],
                roomId: -1,
                levealId: -1,
                roomDays: 0,
                Promotions: [],
                totalPrice: 0,
            },
            mounted: async function () {
                var _this = this;
                _this.roomId = @ViewBag.RoomId;
                _this.getRoomDetail(_this.roomId);
                _this.getBookingState(_this.roomId);
                _this.startOption.disabledDate = _this.disabledStartDate;
                _this.endOption.disabledDate = _this.disabledEndDate;
                _this.levealId = await cartVue.checkIsLogined();
                _this.getPromotions();
            },
            methods: {
                getRoomDetail: function (roomId) {
                    var _this = this;
                    axios.get(`GetRoomDetail/${roomId}`).then(response => {
                        //console.log(response.data);
                        _this.RoomDetail = response.data;
                        _this.RoomDetail.checkIn = null;
                        _this.RoomDetail.checkOut = null;
                    }).catch(
                        error => {
                            console.log(error.response.data);
                            location.href = `${location.origin}${error.response.data}`;
                        }
                    );
                },
                getBookingState: function (roomId) {
                    var self = this;
                    axios.get(`GetBookingState/${roomId}`)
                        .then(response => {
                            //console.log(response.data);
                            self.RoomBookingState = response.data;
                        })
                        .catch(error => { console.log(error.response.data); });
                },
                disabledStartDate(date) {
                    var self = this;
                    //載入飯店的行政時間
                    var availableCheckInTime = roomDetailVue.RoomDetail.availableCheckInTime;
                    // 禁用今天以前的日期
                    var dateNow = new Date();
                    var yesterday = dateNow.setDate(dateNow.getDate() - 1);
                    if (date.getTime() <= yesterday) {
                        return true;
                    }
                    //禁用被booking的夜晚
                    var dateAvailableCheckInTime = date.setHours(date.getHours() + availableCheckInTime);
                    //只要dateAvailableCheckInTime介於RoomBookingState中某一陣列之間傳回true
                    var bookingState = self.RoomBookingState.some(([start, end]) => { return dateAvailableCheckInTime >= start && dateAvailableCheckInTime <= end; });
                    if (bookingState) {
                        return true;
                    }
                    // 其他情況可選
                    return false;

                },
                disabledEndDate(date) {
                    var self = roomDetailVue;
                    //載入房間資訊
                    var latestCheckOutTime = self.RoomDetail.latestCheckOutTime;
                    //如未選擇開始日期
                    var startDayTime = self.RoomDetail.checkIn;
                    var starDayNotNull = startDayTime !== null && startDayTime !== undefined;
                    if (starDayNotNull) {
                        //取得RoomBookingState陣列中最接近開始日期的日期
                        var firstLokedDay = self.RoomBookingState.reduce((closest, [start]) => {
                            if (start > startDayTime.getTime() && (closest === null || start < closest)) {
                                return start;
                            }
                            return closest;
                        },
                            null);
                        //檢查是否介於開始日期與鎖定日期之間
                        var dateBetween = startDayTime.getTime() < date.getTime() && date.getTime() < firstLokedDay;
                        //在開始日期之後
                        var dateAfter = startDayTime.getTime() < date.getTime() && firstLokedDay === null;
                        //var dateAfter = false;
                        if (dateBetween || dateAfter) {
                            return false;
                        }
                    }
                    return true;
                },
                estimatedPrice: function () {
                    var self = this;
                    //計算加購項目
                    var totalPrice = 0;
                    var tRoomPrice = 0;
                    var tServicePrice = 0;
                    var tPromotionPrice = 0;
                    self.roomDays = 0;
                    var selectedServices = self.RoomDetail.selectedExtraServices;
                    for (i = 0; i < selectedServices.length; i++) {
                        tServicePrice += selectedServices[i].servicePrice * selectedServices[i].serviceQuantity;
                    }
                    self.RoomDetail.tServicePrice = tServicePrice;
                    //計算住宿價格
                    var start = new Date(self.RoomDetail.checkIn);
                    var end = new Date(self.RoomDetail.checkOut);
                    var days = Math.max(Math.ceil((end - start) / (1000 * 60 * 60 * 24)), 0);
                    self.roomDays = days;
                    var oneDay = (1000 * 60 * 60 * 24);
                    if (self.RoomDetail.checkIn !== null && self.RoomDetail.checkOut !== null) {
                        for (var i = 0; i < days; i++) {
                            var day16Start = new Date(start.getTime() + (i * oneDay));
                            var day12End = new Date(day16Start.getTime() + (i * oneDay / 24 * 20));
                            //查每晚的利潤成數
                            var profitOfDay = self.checkProfit(self.RoomDetail.profitDictionary, day16Start.getTime(), day12End.getTime());
                            var roomBasePrice = self.RoomDetail.basePrice;
                            tRoomPrice += profitOfDay * roomBasePrice;
                        }
                    }
                    self.RoomDetail.tRoomPrice = tRoomPrice;
                    //查每晚的促銷折扣
                    if (self.Promotions.length > 0) {
                        for (var i = 0; i < days; i++) {
                            var checkDate = new Date(start.getTime() + oneDay * i);
                            var promotOfDay = self.checkPromot(self.Promotions, checkDate);
                            tPromotionPrice += promotOfDay;
                        }
                    }
                    self.RoomDetail.tPromotionPrice = tPromotionPrice;
                    self.totalPrice = tServicePrice + tRoomPrice - tPromotionPrice;
                },
                addToCart: async function () {
                    var self = this;
                    await cartVue.addToCart(self.RoomDetail);
                    await self.getBookingState(self.RoomDetail.roomId);
                    self.RoomDetail.checkIn = null;
                    self.RoomDetail.checkOut = null;
                },
                getPromotions: function () {
                    var self = this;
                    axios.get(`${location.origin}/RoomDetail/GetPromotions`)
                        .then(response => {
                            //console.log(response.data);
                            self.Promotions = response.data;
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                },
                checkProfit: function (profitDictionary, min, max) {
                    for (var key in profitDictionary) {
                        var oneDay = (1000 * 60 * 60 * 24);
                        //將key時間設成當天晚上12點
                        var value = parseInt(key) + oneDay;
                        if (min <= value && value <= max) {
                            return profitDictionary[key];
                        }
                    }
                    return 1;
                },
                checkPromot: function (Promotions, checkDate) {
                    var loopDate = checkDate.getTime();
                    for (var key in Promotions) {
                        keyStart = new Date(Promotions[key].startDate);
                        keyEnd = new Date(Promotions[key].endDate);
                        if (keyStart.getTime() <= loopDate && loopDate <= keyEnd.getTime()) {
                            return Promotions[key].discount;
                        }
                    }
                    return 0;
                },
                setTimeToOfficialHours: function () {
                    var self = this;
                    if (self.RoomDetail.checkIn !== null) {
                        var start = self.RoomDetail.checkIn;
                        start.setHours(self.RoomDetail.availableCheckInTime);
                    }
                    if (self.RoomDetail.checkOut !== null) {
                        var end = self.RoomDetail.checkOut;
                        end.setHours(self.RoomDetail.latestCheckOutTime);
                    }
                },
            },
            watch: {
                RoomDetail: {
                    deep: true,
                    handler(newValue) {
                        //設置時間為飯店的行政時間，checkin、checkout
                        this.setTimeToOfficialHours();
                        this.estimatedPrice();
                    }
                },
            },
        });
    </script>
}