@{
    Layout = "_COLayout";
}
@section Styles{
    <style>
        .rating {
            margin-bottom: 20px;
        }

        .stars {
            color: #ccc;
            font-size: 30px;
        }

        .star {
            cursor: pointer;
        }

        button {
            padding: 10px 20px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }

        .square-image {
            width: 100%;
            height: 0;
            padding-bottom: 100%; /* 創建一個高度等於寬度的正方形 */
            position: relative;
            overflow: hidden;
        }

            .square-image img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; /* 調整圖像以適應正方形區域 */
            }
    </style>
}
<div id="app">
    <h3 class="mt-4">管理您的住宿評鑑</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            查詢訂單:<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="訂單編號"
                           v-model="orderId" aria-label="訂單編號" aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button" @@click="filterFinishOrders(orderId)"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </li>
        <li>
            <div class="input-group">
                <button class="btn btn-primary" type="button" @@click="getFinishOrders"><i class="fa-solid fa-arrow-rotate-right"></i>重新整理訂單</button>
            </div>
        </li>
    </ol>
    <template v-for="item in FinishOrders">
        <div class="row">
            <div class="col-12">
                <div class="card bg-secondary text-white mb-4">
                    <div class="card-body">訂單編號:{{item.orderId}}</div>
                    <div class="row">
                        <div class="col-4">
                            <div class="square-image">
                                <img :src="item.hotelImage" style="padding: 20px;" />
                            </div>
                        </div>
                        <div class="col-4">
                            <ul style="list-style:none">
                                <li><h2>{{item.hotelName}}</h2></li>
                                <li><h4>{{item.city}} {{item.region}}</h4></li>
                                <li><h4><i :class="exampleModal.changeStatus(item.status)"></i>{{item.statusDisplay}}</h4></li>
                                <li><h4><i class="fa-regular fa-circle-check"></i>已退房</h4></li>
                                <template v-if="item.commentId"><li><h4><span><i class="fa-regular fa-circle-check"></i></span>已完成評鑑</h4></li></template>
                                <template v-else><li><h4><span><i class="fa-solid fa-triangle-exclamation"></i></span>尚未完成評鑑</h4></li></template>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul style="list-style:none">
                                <li><h4>預訂日期</h4></li>
                                <li><h4>{{item.orderDate| formatDateTime}}</h4></li>
                                <li><h4>入住日期</h4></li>
                                <li><h4>{{item.checkIn| formatDateTime}}</h4></li>
                                <li><h4>退房日期</h4></li>
                                <li><h4>{{item.checkOut| formatDateTime}}</h4></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" data-bs-toggle="modal" data-bs-target="#exampleModal" @@click="setItem(item);getComment(item)">點擊查看您的評鑑</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<!-- CommentModal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">您的評鑑</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="card bg-light text-black mb-4">
                    <div class="card-body bg-secondary text-white">訂單編號:{{item.orderId}}</div>
                    <div class="card-body bg-success text-white" id="1" v-if="ratings.commentId">
                        <h5><span><i class="fa-regular fa-circle-check"></i></span>已完成評鑑</h5>
                    </div>
                    <div class="card-body bg-warning text-white" id="2" v-else>
                        <h5><span><i class="fa-solid fa-triangle-exclamation"></i></span>尚未完成評鑑</h5>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul style="list-style:none">
                                <li>{{item.hotelName}}</li>
                                <li>住宿電話:{{item.hotelPhone}}</li>
                                <li>客房資訊:{{item.roomType}}</li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <ul style="list-style:none">
                                <li>入住日期</li>
                                <li>{{item.checkIn| formatDateTime}}</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul style="list-style:none">
                                <li>退房日期</li>
                                <li>{{item.checkOut| formatDateTime}}</li>
                            </ul>
                        </div>
                    </div>
                    <div style="text-align:center" class="card-body bg-secondary text-white"><h5>旅店評分</h5></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rating">
                                <h4>性價比</h4>
                                <div class="stars" id="cpStars">
                                    <span class="star" @@click="rate('cp', 1)">&#9733;</span>
                                    <span class="star" @@click="rate('cp', 2)">&#9733;</span>
                                    <span class="star" @@click="rate('cp', 3)">&#9733;</span>
                                    <span class="star" @@click="rate('cp', 4)">&#9733;</span>
                                    <span class="star" @@click="rate('cp', 5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="rating">
                                <h4>舒適度</h4>
                                <div class="stars" id="comfortableStars">
                                    <span class="star" @@click="rate('comfortable', 1)">&#9733;</span>
                                    <span class="star" @@click="rate('comfortable', 2)">&#9733;</span>
                                    <span class="star" @@click="rate('comfortable', 3)">&#9733;</span>
                                    <span class="star" @@click="rate('comfortable', 4)">&#9733;</span>
                                    <span class="star" @@click="rate('comfortable', 5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="rating">
                                <h4>員工服務</h4>
                                <div class="stars" id="staffStars">
                                    <span class="star" @@click="rate('staff', 1)">&#9733;</span>
                                    <span class="star" @@click="rate('staff', 2)">&#9733;</span>
                                    <span class="star" @@click="rate('staff', 3)">&#9733;</span>
                                    <span class="star" @@click="rate('staff', 4)">&#9733;</span>
                                    <span class="star" @@click="rate('staff', 5)">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rating">
                                <h4>設施</h4>
                                <div class="stars" id="facilityStars">
                                    <span class="star" @@click="rate('facility', 1)">&#9733;</span>
                                    <span class="star" @@click="rate('facility', 2)">&#9733;</span>
                                    <span class="star" @@click="rate('facility', 3)">&#9733;</span>
                                    <span class="star" @@click="rate('facility', 4)">&#9733;</span>
                                    <span class="star" @@click="rate('facility', 5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="rating">
                                <h4>清潔</h4>
                                <div class="stars" id="cleanStars">
                                    <span class="star" @@click="rate('clean', 1)">&#9733;</span>
                                    <span class="star" @@click="rate('clean', 2)">&#9733;</span>
                                    <span class="star" @@click="rate('clean', 3)">&#9733;</span>
                                    <span class="star" @@click="rate('clean', 4)">&#9733;</span>
                                    <span class="star" @@click="rate('clean', 5)">&#9733;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center" class="card-body bg-secondary text-white"><h5>旅店評論</h5></div>
                    <textarea name="feedback" id="feedback" rows="8" placeholder="您的回覆是我們進步的動力!" style="border:2px #2f3944 solid;" v-model="ratings.note"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <span v-if="ratings.date!='0001-01-01T00:00:00'">最後編輯:{{ratings.date| formatDateTime}}</span>
                <button @@click="submitRating()">提交評價</button>
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                FinishOrders: [],
                orderId: "",
            },
            mounted: function () {
                let _this = this;
                _this.getFinishOrders();
            },
            filters: {
                formatDateTime(value) {
                    const date = new Date(value);

                    // 定義星期幾的名稱
                    const weekdays = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];

                    // 獲取日期的年、月、日、小時和分鐘
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const day = String(date.getDate()).padStart(2, '0');
                    const hours = String(date.getHours()).padStart(2, '0');
                    const minutes = String(date.getMinutes()).padStart(2, '0');

                    // 獲取星期幾的索引，並根據索引獲取對應的名稱
                    const weekday = weekdays[date.getDay()];

                    // 格式化為指定的字符串形式
                    const formattedDateTime = `${year}-${month}-${day} ${weekday} ${hours}:${minutes}`;

                    return formattedDateTime;
                }
            },
            methods: {
                getFinishOrders: function () {
                    let _this = this;
                    axios.get('/CustomerOrders/GetFinishOrders').then(response => {
                        _this.FinishOrders = response.data;
                    });
                },
                setItem: function (selectedItem) {

                    exampleModal.item = selectedItem;
                },
                filterFinishOrders: function (orderId) {
                    let _this = this;
                    var okOrderId = isNaN(Number(_this.orderId)) ? 0 : Number(_this.orderId);
                    axios.get(`/CustomerOrders/FilterFinishOrders?orderId=${okOrderId}`).then(response => {
                        if (typeof response.data === 'string') {
                            alert(response.data);
                        }
                        else {
                            _this.FinishOrders = response.data;
                        }
                    });
                    _this.orderId = "";
                },
                getComment: function (item) {
                    let _this = this;
                    var request = {};
                    request.HotelId = item.hotelId;
                    request.OrderId = item.orderId;
                    axios.post(`/CustomerOrders/GetComment`, request).then(response => {
                        exampleModal.ratings = response.data;
                        exampleModal.rateAll();
                    })
                },
            },
        });
    </script>
    <script>
        var exampleModal = new Vue({
            el: '#exampleModal',
            data: {
                item: [],
                ratings: { cp: 0, comfortable: 0, staff: 0, facility: 0, clean: 0 },
            },
            mounted: function () {

            },
            filters: {
                formatDateTime(value) {
                    const date = new Date(value);

                    // 定義星期幾的名稱
                    const weekdays = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];

                    // 獲取日期的年、月、日、小時和分鐘
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const day = String(date.getDate()).padStart(2, '0');
                    const hours = String(date.getHours()).padStart(2, '0');
                    const minutes = String(date.getMinutes()).padStart(2, '0');

                    // 獲取星期幾的索引，並根據索引獲取對應的名稱
                    const weekday = weekdays[date.getDay()];

                    // 格式化為指定的字符串形式
                    const formattedDateTime = `${year}-${month}-${day} ${weekday} ${hours}:${minutes}`;

                    return formattedDateTime;
                }
            },
            methods: {
                changeStatus: function (status) {
                    const statusMap = {
                        1: "fa-solid fa-triangle-exclamation",
                        2: "fa-regular fa-circle-check",
                        3: "fa-regular fa-circle-xmark"
                    };
                    return statusMap[status];
                },
                rate: function (category, value) {
                    let _this = this;
                    _this.ratings[category] = value;
                    var stars = document.getElementById(category + 'Stars').children;
                    for (var i = 0; i < value; i++) {
                        stars[i].style.color = '#ffc107'; // 被選中的星星顏色為黃色
                    }
                    for (var j = value; j < 5; j++) {
                        stars[j].style.color = '#ccc'; // 未被選中的星星顏色為灰色
                    }
                },
                submitRating: function () {
                    let _this = this;
                    var cm = {
                        CommentId: _this.ratings.commentId,
                        HotelId: _this.ratings.hotelId,
                        OrderId: _this.ratings.orderId,
                        CustomerId: _this.ratings.customerId,
                        Cp: _this.ratings.cp,
                        Comfortable: _this.ratings.comfortable,
                        Staff: _this.ratings.staff,
                        Facility: _this.ratings.facility,
                        Clean: _this.ratings.clean,
                        Note: _this.ratings.note,
                    };
                    axios.post('/CustomerOrders/PostComment', cm).then(response => {
                        //alert(response.data);
                        swal({
                            title: response.data,
                            icon: "success",
                            button: "關閉視窗",
                        });
                        $('#exampleModal').modal('hide');
                        app.getFinishOrders();
                    });
                },
                rateAll: function () {
                    let _this = this;
                    var targetProperties = ['cp', 'comfortable', 'staff', 'facility', 'clean'];

                    for (var i = 0; i < targetProperties.length; i++) {
                        var category = targetProperties[i];

                        if (_this.ratings.hasOwnProperty(category)) {
                            var value = _this.ratings[category];
                            _this.rate(category, value);
                        }
                    }
                },
            },
        });
    </script>
}