<div id="cartVue">
    <button class=" btn-info cartBtn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><a class="cart-float">{{rooms.length}}</a><i class="fa-solid fa-cart-shopping fa-2xl"></i></button>
    <div class="offcanvas offcanvas-start cartoffcanvas" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="card">
            <div class="row">
                <div class="col-md-12 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col align-self-center text-right text-muted">{{rooms.length}} items</div>
                        </div>
                    </div>
                    <div v-for="room in rooms" class="row border-1 rounded border-opacity-25 p-1 m-1 cartItem">
                        <div class="col"><img class="img-fluid" :src="room.roomImages[0].image"></div>
                        <div class="col main align-items-center">
                            <div class="col">
                                <div class="row text-muted">{{room.hotelname}}</div>
                                <div class="row">{{room.roomType}}</div>
                            </div>
                            <div class="col">&euro; {{room.totalPrice}} </div>
                        </div>
                        <div class="row">
                            <span class="optionDiv bg-info" v-for="service in room.selectedExtraServices">
                                <label>{{service.name}}</label><a @@click="serviceQuanSub(service)">-</a><a href="#" class="border">{{service.serviceQuantity}}</a><a @@click="serviceQuanAdd(service)">+</a>
                            </span>
                        </div>
                        <div>
                            <a class="close" @@click="removeFromCart(room)"><i class="fa-regular fa-trash-can"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS {{rooms.length}}</div>
                        <div class="col text-right">&euro; {{cartTotal}}</div>
                    </div>
                    <form>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code">
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE</div>
                        <div class="col text-right">&euro; {{cartTotal}}</div>
                    </div>
                    <button class="btn" @@click="checkOut">CHECKOUT</button>
                </div>
            </div>
            <button type="button" class="top-0 end-0 position-absolute" data-bs-dismiss="offcanvas"><i class="fa-regular fa-circle-xmark fa-2xl"></i></button>
        </div>
    </div>
</div>