<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Napping</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Napping_PJ.styles.css" asp-append-version="true" />
	<link href="~/css/flaticon.css" rel="stylesheet" />
	<link href="~/css/responsive.css" rel="stylesheet" />
	<link href="~/css/clientstyle.css" rel="stylesheet" />
	<link href="~/css/animate.css/animate.min.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/css/jquery-ui.css" rel="stylesheet" />
	@await RenderSectionAsync("Styles", required: false)
</head>

<body>
	<div class="page-wrapper">
		<!-- Preloader -->
		<div class="preloader">
			<div class="icon"></div>
		</div>

		@RenderBody()

</div>

	

	<footer class="main-footer">
		<div class="top-pattern-layer-dark"></div>


		<div class="widgets-section">
			<div class="auto-container">
				<div class="row clearfix">

					<div class="column col-xl-3 col-lg-12 col-md-12 col-sm-12">
						<div class="footer-widget about-widget">
							<div class="logo">
								<h3>Napping</h3>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="footer-bottom">
			<div class="auto-container">
				<div class="inner clearfix">
					<div class="copyright">本網站僅為教育練習使用</div>
					<div class="bottom-links">
						<a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">後台</a>|<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
					</div>
				</div>
			</div>
		</div>

	</footer>


	<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/appear.js"></script>
	<script src="~/lib/wow/wow.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
