@using System.Security.Claims;
@if (User.Identity.IsAuthenticated)
{
    <li>
        <button type="button" class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#likeList" @@click="getLikes()">
            喜愛清單
        </button>
    </li>
    <li class="txt">
        <a asp-area="" asp-controller="Member" asp-action="Index" class="nav-link ">Hello @User.FindFirst(ClaimTypes.Email).Value</a>
    </li>
    <li class="txt">
        <form class="form-inline" asp-area="" asp-controller="Register" asp-action="OauthLogout" method="post">
            <button class="nav-link btn btn-link " type="submit" name="provider">Logout</button>
        </form>
    </li>


}
else
{
    <li class="txt">
        <a class="nav-link " asp-area="" asp-controller="Login" asp-action="Index">Login</a>
    </li>
    <li class="txt">
        <a class="nav-link " asp-area="" asp-controller="Register" asp-action="Index">Register</a>
    </li>
}
