<!DOCTYPE html>
<html>
<head>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            text-align: center;
            padding-top: 150px;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            
        }

        .success-icon {
            width: 80px;
            height: 80px;
            margin-bottom: 30px;
            animation: rotate 1s infinite linear;
        }
        h1 {
            color:  black;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .order-details {
            text-align: center;
        }

            .order-details p {
                margin-bottom: 10px;
            }

        .button {
            display: inline-block;
            padding: 10px;
            background-color: gray;
            color: white;
            
            border-radius: 10px;
        }

            .button:hover {
                background-color: white;
            }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
        <button class="button" style="background-color: dimgray;"><a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: white;">返回首頁</a></button>

    </div>
</body>
</html>