<h1>
	Welcome to Napping Admin!
</h1>




@*

<div id="chartApp" class="row">
	<div class="col-xl-6">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-chart-area me-1"></i>
				Area Chart Example
			</div>
			<div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
		</div>
	</div>
	<div class="col-xl-6">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-chart-bar me-1"></i>
				Bar Chart Example
			</div>
			<div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
		</div>
	</div>
</div>

@section Scripts{
	<a href="~/lib/jquery/dist/jquery.min.map"></a>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/vue/vue.min.js"></script>
	<script src="~/lib/axios/axios.min.js"></script>
	<script>
		var chartApp = new Vue({
			el: '#chartApp',
			data() {
				return {
					vueCanvas: null,
					chartAreaVM: [],

				}
			},
			mounted: function () {
				let _this = this;
				_this.getData();
				_this.setChartArea();
			},
			methods: {
				getData: function () {
					let _this = this;
					axios.get(`/Admin/ChartArea/Get`).then(response => {

						_this.chartAreaVM = response.data;

					})
				},
				setChartArea(){
					let _this = this;

					const totalPriceByDate = {};
					for (const item of _this.chartAreaVM) {

						const date = item.date.split('T')[0];

						if (!totalPriceByDate[date]) {
							totalPriceByDate[date] = 0;
						}

						totalPriceByDate[date] += item.totalPrice;
					}

					for (const date in totalPriceByDate) {
						console.log(`日期: ${date}, 總計: ${totalPriceByDate[date]}`);
					}



					Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
					Chart.defaults.global.defaultFontColor = '#292b2c';

					var ctx = document.getElementById("myAreaChart");
					var myLineChart = new Chart(ctx, {
						type: 'line',
						data: {
							labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
							datasets: [{
								label: "Sessions",
								lineTension: 0.3,
								backgroundColor: "rgba(2,117,216,0.2)",
								borderColor: "rgba(2,117,216,1)",
								pointRadius: 5,
								pointBackgroundColor: "rgba(2,117,216,1)",
								pointBorderColor: "rgba(255,255,255,0.8)",
								pointHoverRadius: 5,
								pointHoverBackgroundColor: "rgba(2,117,216,1)",
								pointHitRadius: 50,
								pointBorderWidth: 2,
								data: totalPriceByDate[date],
							}],
						},
						options: {
							scales: {
								xAxes: [{
									time: {
										unit: 'date'
									},
									gridLines: {
										display: false
									},
									ticks: {
										maxTicksLimit: 7
									}
								}],
								yAxes: [{
									ticks: {
										min: 0,
										max: 40000,
										maxTicksLimit: 5
									},
									gridLines: {
										color: "rgba(0, 0, 0, .125)",
									}
								}],
							},
							legend: {
								display: false
							}
						}
					});
				
				
				},



			}



		})

	</script>

	<script>
		Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
		Chart.defaults.global.defaultFontColor = '#292b2c';


		var ctx = document.getElementById("myBarChart");
		var myLineChart = new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ["January", "February", "March", "April", "May", "June"],
				datasets: [{
					label: "Revenue",
					backgroundColor: "rgba(2,117,216,1)",
					borderColor: "rgba(2,117,216,1)",
					data: [4215, 5312, 6251, 7841, 9821, 14984],
				}],
			},
			options: {
				scales: {
					xAxes: [{
						time: {
							unit: 'month'
						},
						gridLines: {
							display: false
						},
						ticks: {
							maxTicksLimit: 6
						}
					}],
					yAxes: [{
						ticks: {
							min: 0,
							max: 15000,
							maxTicksLimit: 5
						},
						gridLines: {
							display: true
						}
					}],
				},
				legend: {
					display: false
				}
			}
		});


	</script>
}*@