@{
    Layout = "GoldFlowLayout";
}
<title>付款失敗</title>
<img src="https://memeprod.ap-south-1.linodeobjects.com/user-maker/5cab2f68c4dc1308858548de57233b58.gif">
<h1>付款失敗</h1>
<p>付款失敗，請您重新確認</p>
<div class="order-details">
	<p>訂單編號：@ViewBag.OrderInfo.orderId</p>
	<p>付款金額：$@ViewBag.OrderInfo.totalPrice</p>
</div>