@{
	Layout = "GoldFlowLayout";
}
<title>付款成功</title>
<img src="https://pic4.zhimg.com/80/v2-b70d9cf7baf89a8ca3bbe3038ceb035b_1440w.webp">
<h1>付款成功</h1>
<p>感謝您的訂單，付款已成功完成。</p>
<div class="order-details">
	<p>訂單編號：@ViewBag.OrderInfo.orderId</p>
	<p>付款金額：$@ViewBag.OrderInfo.totalPrice</p>
</div>
