<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form>
                                        <template v-if="errorMesseage.mainError != null">
                                            <span class="text-danger">{{errorMesseage.mainError}}</span>
                                        </template>
                                        <template v-else>
                                            <span></span>
                                        </template>
                                        <div class="row mb-3">                                            
                                            <div class="col-md-12">
                                                <template v-if="errorMesseage.emailError != null">
                                                    <span class="text-danger">{{errorMesseage.emailError}}</span>
                                                </template>
                                                <template v-else>
                                                    <span>請輸入信箱</span>
                                                </template>
                                                <div class="form-floating">
                                                    <input v-model="email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" @@keyup="ValidField" />
                                                    <label for="inputEmail">Email address</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <template v-if="errorMesseage.passWordError != null">
                                                    <span class="text-danger">{{errorMesseage.passWordError}}</span>
                                                </template>
                                                <template v-else>
                                                    <span>請輸入密碼</span>
                                                </template>
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input v-model="password" class="form-control" id="inputPassword" type="password" placeholder="Create a password" @@keyup="ValidField" />
                                                    <label for="inputPassword">Password</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <template v-if="errorMesseage.confirmPasswordError != null">
                                                    <span class="text-danger">{{errorMesseage.confirmPasswordError}}</span>
                                                </template>
                                                <template v-else>
                                                    <span>確認密碼</span>
                                                </template>
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input v-model="confirmPassword" class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" @@keyup="ValidField" />
                                                    <label for="inputPasswordConfirm">Confirm Password</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid"><a class="btn btn-primary btn-block" @@click="TryRegister">Create Account</a></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a asp-controller="Login" asp-action="Index">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script>
        var basePath = "https://localhost:7265/";
        var vueApp = new Vue({
            data: {
                LoginViewModel: [],
                email: '',
                password: '',
                confirmPassword:'',
                errorMesseage: {
                    mainError: null,
                    emailError: null,
                    passWordError: null,
                    confirmPasswordError:null
                }
            },
            mounted: function () {
                let _this = this; //將this保留下來，避免CallBack後this已轉移對象，確保找的到mounted的對象
            },
            methods: {
                ValidField: function () {
                    console.log('ValidField')
                    let _this = this;
                    var request = {};
                    request.Email = _this.email;
                    request.Password = _this.password;
                    request.ConfirmPassword = _this.confirmPassword;

                    axios.post(`ValidField`, request)
                        .then(res => {
                            console.log(res.data);
                            _this.errorMesseage.mainError = res.data.mainError;
                            _this.errorMesseage.emailError = res.data.emailError;
                            _this.errorMesseage.passWordError = res.data.passWordError;
                            _this.errorMesseage.confirmPasswordError = res.data.confirmPasswordError;
                        })
                        .catch(err => {
                            console.log(err.response.data);
                            _this.errorMesseage.mainError = err.response.data.mainError;
                            _this.errorMesseage.emailError = err.response.data.emailError;
                            _this.errorMesseage.passWordError = err.response.data.passWordError;
                            _this.errorMesseage.confirmPasswordError = err.response.data.confirmPasswordError;
                        })
                },
                TryRegister: function () {
                    let _this = this;
                    var request = {};
                    request.Email = _this.email;
                    request.Password = _this.password;
                    request.confirmPassword = _this.confirmPassword;
                    axios.post(`TryRegister`, request)
                        .then(res => {
                            console.log(res.data);
                            _this.errorMesseage.mainError = res.data.mainError;
                            _this.errorMesseage.emailError = res.data.emailError;
                            _this.errorMesseage.passWordError = res.data.passWordError;
                            _this.errorMesseage.confirmPasswordError = res.data.confirmPasswordError;
                            location.href = `${basePath}Home/Index`;
                        })
                        .catch(err => {
                            console.log(err.response.data);
                            _this.errorMesseage.mainError = err.response.data.mainError;
                            _this.errorMesseage.emailError = err.response.data.emailError;
                            _this.errorMesseage.passWordError = err.response.data.passWordError;
                            _this.errorMesseage.confirmPasswordError = err.response.data.confirmPasswordError;
                        });
                },
                GoogleLogin: function () {
                    let _this = this;
                    axios.post(`$ThirdPartyLogin/OauthGooleLogin`)
                        .then(res => {
                            //console.log(res.url);
                            //location.href = res.data.properties.items[".redirect"];
                            //_this.errorMesseage.mainError = res.data.mainError;
                            //_this.errorMesseage.emailError = res.data.emailError;
                            //_this.errorMesseage.passWordError = res.data.passWordError;
                            //location.href = `${basePath}Home/Index`;
                        })
                        .catch(err => {
                            //console.log(err);
                            //_this.errorMesseage.mainError = err.response.data.mainError;
                            //_this.errorMesseage.emailError = err.response.data.emailError;
                            //_this.errorMesseage.passWordError = err.response.data.passWordError;
                        });
                },
            }
        })
        vueApp.$mount('#layoutAuthentication');
    </script>
}
