@model IEnumerable<Napping_PJ.Areas.Admin.Models.RoleViewModel>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @*<a asp-area="Admin" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>*@
                    <a asp-area="Admin" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
