@{
	ViewData["Title"] = "隱私政策";
}
<header class="main-header header-style-one alternate">

	<!-- Header Upper -->
	<div class="header-upper">
		<div class="inner-container clearfix">
			<!--Logo-->
			<div class="logo-box">
				<div class="logo">
					<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><h1 style="color: white;">Napping</h1></a>
				</div>
			</div>
			<div class="nav-outer clearfix">

				<!-- Main Menu -->
				<nav class="main-menu navbar-expand-md navbar-light">
					<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
					</div>
				</nav>
			</div>

			<div class="other-links clearfix">
				<div class="info">
					<ul class="clearfix">
						<partial name="_LoginPartial" />
					</ul>
				</div>
			</div>

		</div>
	</div>
	<!--End Header Upper-->


</header>

<section class="page-banner">
	<div class="image-layer" style="background-image: url('../../images/13.jpg');"></div>
	<div class="banner-bottom-pattern"></div>

	<div class="banner-inner">
		<div class="auto-container">
			<div class="inner-container clearfix">
				<h1>@ViewData["Title"]</h1>
			</div>
		</div>
	</div>
</section>
<!--End Banner Section -->
<!--Featured Section-->
<section class="featured-section-four about-page">
	<span class="dotted-pattern dotted-pattern-11"></span>
	<div class="circles-two">
		<div class="c-1"></div>
		<div class="c-2"></div>
	</div>
	<div class="auto-container">
		<div class="row clearfix">
			<!--Text Column-->
			<div class="text-column col-lg-12 col-md-12 col-sm-12">
				<div class="inner">

					<div class="text">
						歡迎您使用Napping（以下簡稱「我們」或「本網站」）。在Napping的所有業務活動中，我們致力於保護您的隱私權並確保您的個人資訊得到適當的處理和保護。為此，我們制定了本隱私政策，以向您解釋我們如何收集、使用和保護您的個人資訊。請在使用本網站之前仔細閱讀本隱私政策，以了解我們的做法和承諾。
						<br>
						<br>
						<h4>一、收集的個人資訊</h4>
						1.註冊資訊：當您在Napping註冊帳戶時，我們可能會收集您的姓名、聯繫方式（如電子郵件地址、電話號碼）、居住地等個人資訊。這些資訊將用於識別您的身份並提供我們的服務。
						<br>
						<br>
						2.預訂資訊：當您在Napping上預訂住宿時，我們可能會收集有關您的預訂詳情，包括入住日期、退房日期、房型偏好等資訊。此類資訊將用於完成您的預訂並確保您的住宿體驗。
						<br>
						<br>
						3.支付資訊：為了處理您的預訂付款，我們可能會收集您的支付資訊，例如信用卡號碼、有效期限和安全代碼。我們將使用安全加密技術來保護您的支付資訊並確保安全的交易過程。
						<br>
						<br>
						4.其他資訊：在您使用我們的網站和服務時，我們可能會收集其他相關的個人資訊，例如您的瀏覽器類型、IP位址、訪問日期和時間等。這些資訊將用於改善我們的服務並提供更好的使用體驗。
						<br>
						<br>
						<h4>二、資訊使用與共用</h4>
						1.提供服務：我們使用收集的個人資訊來提供、管理和支持我們的服務，包括處理您的訂房、發送預訂確認和相關通知、提供客戶支持等。
						<br>
						<br>
						2.內部分析：我們可能會使用您的資訊進行內部分析和研究，以改進我們的服務、優化網站功能和提供更好的使用體驗。這些分析和研究結果將被匿名化或經過去識別化處理，並僅用於內部用途。
						<br>
						<br>
						3.個性化推薦：根據您的預訂紀錄和偏好，我們可能會向您提供個性化的推薦服務和特價優惠。這些推薦將基於您的興趣和需求，以提供更符合您喜好的住宿選項。
						<br>
						<br>
						4.合作夥伴和第三方：在某些情況下，我們可能與可信賴的合作夥伴和第三方合作，以提供更廣泛的服務和優惠。我們僅會共享必要的個人資訊，並要求這些合作夥伴遵守適用的隱私法律和我們的隱私政策。
						<br>
						<br>
						5.法律遵從與保護：我們可能會根據適用法律的要求或合法的要求進行個人資訊的披露，以遵守法律程序、應對法律訴訟、保護我們的合法權益或履行合法的要求。
						<br>
						<br>
						<h4>
							三、資訊保護措施
						</h4>
						我們採取適當的技術和組織措施來保護您的個人資訊免於未經授權的訪問、使用、洩露或損壞。我們使用安全的加密技術來保護您的支付資訊，並定期進行系統安全評估和監控，以確保您的資訊安全。
						<br>
						<br>
						四、Cookie和類似技術
						為了提供個性化的網站體驗，我們使用Cookie和類似的追蹤技術來收集和存儲特定的資訊。這些技術使我們能夠記住您的偏好、提供廣告內容以及分析網站流量。您可以根據自己的偏好在瀏覽器設置中控制Cookie的使用。
						<br>
						<br>
						<h4>
							五、年齡限制
						</h4>
						我們的服務僅面向年滿法定年齡的個人使用。如果您是未成年人，您必須在父母或監護人的監督下使用本網站。
						<br>
						<br>
						<h4>
							六、連結到第三方網站
						</h4>
						本網站可能包含指向第三方網站或服務的連結。我們對這些第三方網站的隱私做法不負責任。我們鼓勵您在使用這些第三方網站之前閱讀其隱私政策，以了解其資訊收集和使用方式。
						<br>
						<br>
						<h4>
							七、隱私政策的更新
						</h4>
						我們保留隨時修改本隱私政策的權利。如果我們對隱私政策進行任何變更，我們將在本網站上發布更新的版本並提供適當的通知。請您定期查看本隱私政策，以瞭解我們的最新做法。
						<br>
						<br>
						<h4>
							八、聯繫我們
						</h4>
						如果您對我們的隱私政策有任何疑問、意見或投訴，請隨時通過以下方式與我們聯繫：
						<br>
						<br>
						Napping客戶服務
						電子郵件：info@napping.com
						電話：+123456789
						<br>
						<br>
						我們將盡力回答您的疑問並處理您的反饋。
						<br>
						<br>
						最後更新日期：2023年5月30日
						<br>
						<br>
						感謝您閱讀並信任Napping的隱私政策。我們將持續努力保護您的個人資訊並提供卓越的服務體驗。
					</div>
					<div class="signature"><img src="images/resource/signature-1.png" alt="" title=""></div>
				</div>
			</div>
		</div>
	</div>
</section>
