<div class="page-wrapper">
	<!-- Preloader -->
	<div class="preloader">
		<div class="icon"></div>
	</div>

	<!-- Main Header -->
	<header class="main-header header-style-one alternate">

		<!-- Header Upper -->
		<div class="header-upper">
			<div class="inner-container clearfix">
				<!--Logo-->
				<div class="logo-box">
					<div class="logo">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
							<h3>Napping</h3>
						</a>
					</div>
				</div>
				<div class="nav-outer clearfix">

					<!-- Main Menu -->
					<nav class="main-menu navbar-expand-md navbar-light">
						<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
						</div>
					</nav>
				</div>

				<div class="other-links clearfix">
					<div class="info">
						<ul class="clearfix">
							<partial name="_LoginPartial" />
						</ul>
					</div>
				</div>

			</div>
		</div>
		<!--End Header Upper-->


	</header>

	<div class="sidebar-page-container">
		<div class="circles-two">
			<div class="c-1"></div>
			<div class="c-2"></div>
		</div>
		<span class="dotted-pattern dotted-pattern-5"></span>
		<span class="tri-pattern tri-pattern-8"></span>

		<div class="result-container">
			<div class="row clearfix">

				<!--Content Side-->
				<div class="content-side col-lg-8 col-md-12 col-sm-12">
					<div class="blog-content">
						<div class="row">
							<!--Feature Box-->
							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

							<div class="result-box col-xl-4 col-lg-6 col-md-6 col-sm-12 wow fadeInUp"
								 data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="inner-box">
									<div class="icon-box">
										<div class="heart-box">
											<button><i class="fa-regular fa-heart"></i></button>
										</div>
										<img src="https://picsum.photos/id/1020/600/400" alt="">
									</div>
									<div class="text-box">
										<a href="index-5.html">
											<h3>Restaurant & Bear</h3>
											<h6>位於北極的特色民宿</h6>
											<div>
												<h4>NT 2000/晚</h4>
											</div>
										</a>
									</div>

								</div>
							</div>

						</div>


					</div>
				</div>

				<!--Sidebar Side-->
				<div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
					<aside class="sidebar blog-sidebar">
						<!--Sidebar Widget-->
						<div class="sidebar-widget search-box wow fadeInUp" data-wow-delay="0ms"
							 data-wow-duration="1500ms">
							<div class="widget-inner">
								<div class="sidebar-title">
									<h1>這裡會是地圖</h1>
								</div>
							</div>
						</div>

					</aside>
				</div>
			</div>

		</div>
	</div>
</div>